/*formatação do body todo*/
body{
    /*background-color: rgb(240,240,240);*/
    background-color: rgb(220,220,220);
}

/*formatação de comportamento geral para todas as secções*/
.seccao {
    display: block;
    min-height: 300px;
    width: 100%;
    margin-bottom: -18px;
}


.seccao  div.conteudo{
    float: left;
    min-height: 260px;
    width: 65%;

}

.secPreto {
    background-color: rgba(0,0,0,1);
    color: white;

}

.secClaro{
    background-color: white;
}

.barraBranco{
    background-color: black;
    color: black;
    padding-right: 60px;
    margin-right: 15px;
}

.barraPreto{
    background-color: white;
    color: white;
    padding-right: 60px;
    margin-right: 15px;
}


.seccao div.conteudoSpan{
    width: 100%;
}

.seccao  aside.lateral{
    float: right;
    width: 35%;
    min-height: 254px;
    background-color: #2ABB8F;
}



/*formatação para deixar o site centralizado*/
#todoSite{
    margin: -170px auto 0px auto;
    max-width: 76%;
    background-color: white;
    box-shadow: 5px 10px 10px 5px rgba(0,0,0,.35);
}

/*barra grande é a parte suerior de cor difrente que aparece em cima e atrás do site*/ 
#barraGrande {
    background: #2ABB8F;
    height: 200px;
    margin:-8px;
}

/*formatações do cabeçalho*/
header{
    background-image: url(../imagens/fundo4.jpg);
    background-repeat: no-repeat;
    background-position-y:99%;
    background-position-x: 99%;
    position: relative;
    height: 400px;
    margin-bottom: -19px;
}

#nomes{
    position: relative;
    top: 36%;
    left: 14%;
}

#cinquenta{
    font-family: sans-serif;
    font-size: 43pt;
    padding-bottom: 0px;
    margin-bottom: -9px;
    color: rgb(120,120,120);
}
#cinquenta span{
    color: pink;
}

#valter{
    margin-top: 0px;
    padding-top: -8px;
}

/*formatações do menú*/
#menu {
    position: absolute;
    right: 10px;
    top: -5px;
    /*background-color: rgba(0,0,0,.5)*/
}

#menu li{
    display: inline-block;
    list-style-type: none;
    margin: auto 6px auto 6px;
    text-transform: uppercase;
    /*background: red;*/
    /*border-radius: 0px 0px 10px 10px;*/
    padding: 10px;
    padding-bottom: 6px;


}
#menu li:first-child{
    border-bottom: 4px solid pink;
}

#menu li:hover {
    border-bottom: 4px solid black;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-family: arial;
    font-weight: bold;
}

/*formatação do rodapé*/
.rodape{
    min-height: 60px;
}

.rodape div p span{
margin: 6px;
}


.rodape div p {
    text-align: right;
}
/*formatação do titulo (h1)*/
h1{
    /*font-size: 14pt;*/
    font-family: arial;
    padding-top: 5px;
    /*padding-left: 10px;*/
}

/*formatação dos menus laterais*/
#menuLateral1 {
    padding: auto;
    min-height: 250px;
}

#menuLateral1 li {
    list-style-type: none;
    font-family: verdana;
    padding: 5px;
    text-indent: 10px;
    color: black;
}
#menuLateral1 li img {
    padding-right: 10px;
}

#menuLateral1 li a{
    color: black;
    text-decoration: none;
}

/*formatação do menú lateral2*/
#menuLateral2 {
    padding: auto;
    margin-right: 10px;
    margin-top: 40px;

}

#menuLateral2 li {
    list-style-type: none;
    font-family: arial;
    font-size: 10.5pt;
    font-weight: bold;
    color: white;
    text-align: right;
    margin: 10px auto 2px auto;
}

#lateral2{
    border-radius: 0px 0px 0px 100px;
}


/*//formatação dos pontos da classificação*/
.ponto {
    background-color: white;
    padding-left: 25px;
    margin: 4.5px;
    border-radius: 7px;
}
.preenchido {
    /*    background-color: rgb(237,45,144);*/ 
    background-color: rgb(190,190,190);
}